<div class="card p-3 mt-2 shadow-sm border-0">
        <h6 class="fw-bold mb-1">
            <p class="rounded-2 text-success fw-bold fs-5"><i class="bi bi-trophy-fill"></i> Quiz Scores</p>
            <p class="fw-normal">Consulte tes statistiques pour suivre tes performances</p>

            <div class="d-flex flex-row gap-2">
              <p class="fw-medium">Décisions :</p>
              <p class="fw-light">🔴 Non maitriser</p>
              <p class="fw-light">🟡 A revoir</p>
              <p class="fw-light">🟢 Super</p>
            </div>
      </h6>
      <div>
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Resumé</th>
                <th scope="col">Score</th>
                <th scope="col">Décision</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stat of stats">
                    <td>{{stat.libelle}}</td>
                    <td>{{stat.note}} %</td>
                    <td>{{stat.niveau}}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
