<div class="card p-3 mt-2 shadow-sm border-0">
        <h6 class="fw-bold mb-1">
            <p class="p-2 rounded-2 text-success fw-bold fs-5"><i class="bi bi-trophy-fill"></i> Quiz Scores</p>
      </h6>
      <div>
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">No</th>
                <th scope="col">Resumé</th>
                <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Understanding GPT Models</td>
                    <td>10/30</td>
                    <td><button class="btn btn-success">Rejouer</button></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Understanding GPT Models</td>
                    <td>10/30</td>
                    <td><button class="btn btn-success">Rejouer</button></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Understanding GPT Models</td>
                    <td>10/30</td>
                    <td><button class="btn btn-success">Rejouer</button></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
