<div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center text-center" *ngIf="!isLoading">
    <i class="bi bi-question-circle-fill fs-1 text-success"></i>
    <h6 class="fs-4 text-success">Quizzz !</h6>
    <p class="text-secondary small">Testez vos connaissances en jouant à cette session Quiz. <br> Chosissez un document pour continuer</p>

    <form (ngSubmit)="onSubmit()"  #file="ngForm">
      <div class="row g-2 p-3 mb-2 mt-1">
        <div class="col-10 rounded-4">
          <div class="input-group">
            <label for="file" class="input-group-text"><i class="bi bi-file-earmark-arrow-up-fill"></i></label>
            <select class="form-select" [(ngModel)]="selectedDocument" name="document" id="file" aria-label="Default select example">
              <option disabled>Choisir un document</option>
              <option *ngFor="let doc of documents" [value]="doc.Id_docs"> {{ cleanDocumentName(doc.path) }}</option>
            </select>
          </div>

        </div>
        <div class="col-2">
            <input type="submit" value="Jouer" class="btn btn-success" >
            <!-- <input type="submit" value="Resume" class="btn btn-success" disabled> -->
        </div>
      </div>
    </form>
</div>

<div *ngIf="!showResult && questions.length && isLoading" class="card p-2 shadow-sm border-0">
        <h6 class="fw-bold mb-1">
          <i class="bi bi-question-circle me-1"></i>Quiz Yourself
        </h6>

        <div class="d-flex justify-content-between align-items-center small text-muted mb-2">
          <span class="badge bg-light text-dark">10 points/question</span>
          <span class="text-danger fw-semibold">{{ timer }}s</span>
          <span class="text-danger fw-semibold">{{ score }} points</span>
        </div>

        <p class="fw-semibold">
          {{ questions[currentIndex].questionText }}
        </p>

        <p class="small text-muted">
          Choisis la bonne réponse parmis les options suivantes:
        </p>

        <div class="d-grid gap-2">
          <button
            *ngFor="let option of questions[currentIndex].options"
            class="btn text-start border shadow-sm"
            [ngClass]="{
              'btn-light border-secondary-subtle': !selectedOption,
              'bg-success text-white fw-semibold': selectedOption && option.correct,
              'bg-danger text-white': selectedOption && !option.correct && option === selectedOption
            }"
            (click)="selectOption(option)"
            [disabled]="!!selectedOption"
          >
            <i *ngIf="selectedOption && option.correct" class="bi bi-check-circle-fill me-2"></i>
            <i *ngIf="selectedOption && !option.correct && option === selectedOption" class="bi bi-x-circle me-2"></i>
            {{ option.text }}
          </button>
        </div>

        <div *ngIf="showExplanation" class="alert alert-info mt-3">
          {{ questions[currentIndex].explanation }}
        </div>

        <div class="mt-1 d-flex justify-content-end">
          <button *ngIf="selectedOption" class="btn btn-success" (click)="nextQuestion()">Suivant</button>
        </div>
      </div>

      <div *ngIf="showResult" class="d-flex flex-column justify-content-center align-items-center mt-1">
        <h4 class="fw-bold text-success">Quiz terminé !</h4>
        <p class="fs-5">Votre score final : {{ score }} / {{ questions.length * 10 }}</p>
        <button class="btn btn-success" (click)="resetQuiz()">Recommencer</button>
      </div>


