<!-- Sidebar -->
  <div class="sidebar p-3 d-none d-sm-flex" id="sidebar">
    <div>
      <h6 class="text-muted mb-4">Workspace</h6>
      <button class="btn btn-success mb-3 w-100">Nouveau résumé</button>
      <div class="d-grid gap-2 mb-4">
        <h6 class="fw-light mb-1">Historiques</h6>
        <div class="d-flex flex-column gap-2 small pt-2">
          <a href="#" class="text-decoration-none text-secondary py-1 px-2 rounded">Introduction to AI</a>
          <a href="#" class="text-decoration-none text-secondary py-1 px-2 rounded">Deep Learning Basics</a>
          <a href="#" class="text-decoration-none text-secondary py-1 px-2 rounded">Understanding GPT Models</a>
        </div>
      </div>
    </div>

    <div class="mt-auto">
      <div class="d-flex gap-2 mb-2">
        <button class="btn btn-success btn-sm">EN</button>
        <button class="btn btn-light btn-sm">FR</button>
      </div>
      <div class="profile">
        <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle " style="width:30px; height:30px">
        <div class="profile-info mb-5">
          <strong>ugl</strong><br>
          <small>ultimategaminglegends</small>
        </div>
      </div>
    </div>
  </div>
