<div class="body">
    <div class="position-absolute top-0 start-0 m-4">
        <span class="h3 mb-0"><i class="bi bi-lightning-charge-fill"></i>Learn Fast</span>
      </div>

  <div class="card text-center">
    <div class="icon-circle">
      <span><i class="bi bi-person text-black"></i></span>
    </div>
    <h4 class="fw-bold mb-2">S'inscrire</h4>
    <p class="text-muted small mb-4">Inscris toi et découvre le potentiel de Learn Fast en résumant ton premier cours</p>

    <form (ngSubmit)="onRegistered()" #register="ngForm">
        <div class="mb-3 text-start">
            <label class="form-label small">Nom</label>
            <input name="nom" [(ngModel)]="nom" type="text" class="form-control" placeholder="Nom">
        </div>
        <div class="mb-3 text-start">
            <label class="form-label small">Prénom</label>
            <input name="prenom" [(ngModel)]="prenom" type="text" class="form-control" placeholder="Prénom">
        </div>
      <div class="mb-3 text-start">
        <label class="form-label small">Email</label>
        <input name="email" [(ngModel)]="email" type="email" class="form-control" placeholder="Email">
      </div>
      <div class="mb-3 text-start">
        <label class="form-label small">Mot de passe</label>
        <input name="pass" [(ngModel)]="pass" type="password" class="form-control" placeholder="Mot de passe">
      </div>
      <div class="d-flex justify-content-end mb-3">
        <a href="#" class="small text-muted">J'ai déjà un compte ?</a>
      </div>

      <input type="submit" value="Continuer" class="btn btn-success w-100 mb-3">
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.js"></script>
</div>
